<div class="row">
    <div id="search-wrapper" class="large-12 columns">
        <div id="search-form">
            <div id="search-panel" class="small-12 medium-6 columns">
                <form ng-submit="fireSearch(searchValue,length)">
                    <div class="row collapse">
                        <div class="medium-10 columns">
                            <input ng-model="searchValue" type="text" placeholder="Enter city, zip, or location"/>
                        </div>
                        <div class="medium-2 columns">
                            <input type="submit" class="button postfix" value="GO">
                        </div>
                        <div class="medium-12 columns">
                            <label>Forecasts:</label>
                            <input type="radio" ng-model="forecast.days" value="0"><label>Current</label>
                            <input type="radio" ng-model="forecast.days" value="3"><label>Three Day</label>
                            <input type="radio" ng-model="forecast.days" value="5"><label>Five Day</label>
                        </div>
                    </div>
                </form>
            </div><!--small 12-->
        </div><!--search form-->
    </div><!--search wrapper-->
</div>
<div ng-include="'app/templates/partials/results.html'"></div>
<div ng-include="'app/templates/partials/multiple-results.html'"></div>