<div class="row">
    <div id="search-wrapper" class="large-12 columns">
        <div id="search-form">
            <div class="small-12 medium-6 columns">
                <div class="row collapse">
                    <div class="medium-10 columns">
                        <input ng-model="searchValue" type="text" placeholder="Enter city, zip, or location"/>
                    </div>
                    <div class="medium-2 columns">
                        <input ng-click="fireSearch(searchValue)" type="submit" class="button postfix" value="GO">
                    </div>
                    <div class="medium-12 columns">
                        <label>Pick your forecast:</label>
                        <input id="current" ng-model="forecast.current" type="checkbox" checked><label for="current">Current</label>
                        <input id="five" ng-model="forecast.five" type="checkbox"><label for="five">Five Day</label>
                        <input id="ten" ng-model="forecast.ten" type="checkbox"><label for="five">Ten Day</label>
                    </div>
                </div>
            </div><!--small 12-->
        </div><!--search form-->
    </div><!--search wrapper-->
</div>
<div id="results" class="row" ng-show="!arrValues.multiple; result">
    <div class="panel medium-4 columns medium-offset-4">

        <h2>{{result.main.temp | number:0}}</h2>
    </div>
</div>
<div id="multiple" ng-show="multiple">
    <p>Wait, did you mean:</p>
    <ul>
        <li ng-repeat="location in multiple">
            <a href ng-click="fireSearch(location)">{{location}}</a>
        </li>
    </ul>
</div>